<h1 mat-dialog-title>Title Here</h1>
<div mat-dialog-content>
        <mat-card>
                <mat-card-header>
                        <mat-card-title>Director Here</mat-card-title>
                        <mat-card-subtitle>Year Here</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">close</button>
  <button mat-button (click)="onCloseClick()">view more</button>
</div>