<h1 mat-dialog-title>{{movie.title}}</h1>
<p>{{movie.release_date}}</p>
<div mat-dialog-content>
        <mat-card> 
                <mat-card-content>
                        <div>
                                <img mat-card-image  class="poster" src="{{movie.poster}}" alt="poster">
                                <h3>Abstract</h3>
                                <p>{{movie.description}}</p>
                        </div>
                        <br>
                        <div>
                                <h3>Recent Reviews:</h3>
                                <p>
                                        "You will feel utterly numb after the screening of The 
                                        Dark Knight. The film is bleak and brilliant."
                                        -James Christopher
                                </p>
                                <p>
                                        "To talk of Heath Ledger's performance is difficult, 
                                        merely because, as gigantic as it is, it is only one 
                                        important feature of an intricately wrought canvas."
                                        -Tiru Thiruvilangam
                                </p>
                                <p>
                                        "An exceptionally smart, brooding picture with some 
                                        terrific performances."
                                        -Tom Charity
                                </p>
                        </div>
                        
                      </mat-card-content>
        </mat-card>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="onCloseClick()">Close</button>
  <button mat-raised-button (click)="onCloseClick()" [routerLink]="['/details', movie.id]">View More</button>
</div>