<mat-toolbar color="primary">
  <span>
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>
  </span>

  <span class="m-auto">Movie Application</span>

  <span *ngIf="isAuthenticated(); else showLogin">
      <button mat-button [matMenuTriggerFor]="userMenu" class="pl-2 pr-2">
        <mat-icon>account_circle</mat-icon>
        {{getCurrentUserName()}}
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/profile']">View Profile</button>
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>
    </span>

  <ng-template #showLogin>
      <span>
          <button mat-raised-button (click)="login()">Login</button>
        </span>
  </ng-template>
 
  
</mat-toolbar>
