<mat-toolbar color="primary">
  <span>
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>
  </span>

  <span class="m-auto">Movie Application</span>

  <span *ngIf="!isSignedIn">
    <button mat-raised-button (click)="login()">Login</button>
  </span>

  <span *ngIf="isSignedIn">
    <button mat-button [matMenuTriggerFor]="userMenu" class="pl-2 pr-2">
      <mat-icon>account_circle</mat-icon>
      User Name
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item>Sign Out</button>
    </mat-menu>
  </span>
</mat-toolbar>
