.icon {
  width: 30px;
}

form button {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
}
