.movie-container {
    width: 90%;
    margin: 0 auto;
}

.movie-card {
    position: relative;
    display: inline-block;
    width:200px;
    text-align: center;
    margin: 1%;
}

.movie-poster{
    width: 150px;
}

.popular-movies{
    margin:5px;
    text-align: center;
}

.search-title{
    width:100%
}
