<div>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Search by Title">
      <mat-card>
          <form [formGroup]="searchForm" (ngSubmit)="searchTitle()">
            <mat-form-field  class="search-title">
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
              <button mat-raised-button type="submit" [disabled]="!searchForm.valid">Search</button>
          </form>
      </mat-card>
    </mat-tab>

    <mat-tab label="Explore Films">
      <mat-card>
          <form [formGroup]="exploreForm" (ngSubmit)="explore()"> 
            <mat-form-field>
              <mat-label>Genre</mat-label>
              <mat-select formControlName='genre'>
                <mat-option *ngFor="let genre of movieGenres" [value]="genre.id">
                  {{genre.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Rating</mat-label>
              <mat-select formControlName='rating'>
                <mat-option *ngFor="let rating of certifications" [value]="rating.certification">
                  {{rating.certification}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Year" formControlName="year">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" [disabled]="!exploreForm.valid">Explore</button>
          </form>
      </mat-card>
    </mat-tab>

    <mat-tab label="View Popular Movies" >
      <div class="popular-movies">
          <h1>Popular movies...</h1>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- Search Results -->
<div class="movie-container">
  <mat-card class="movie-card" *ngFor="let movie of searchResults" >
    <mat-card-header>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  class="movie-poster"  src="{{movie.poster}}" alt="...">
    <mat-card-actions>
      <button mat-raised-button (click)="openPreview(movie)">view more</button>
    </mat-card-actions>
  </mat-card>
</div>