.movie-contatiner{
    width:100%;
    margin: 5px;
    text-align: center;
}

.movie-card { 
    position: relative;
    display: inline-block;
    width:200px;
    text-align: center;
    margin: 1%;
}

.movie-poster{
    width: 150px;
}

.search-wrapper{
    width:100%;
    margin: 5px;
    text-align: center;
}

.search-box{
    background-color: silver;
    display: inline-block;
    width: 25%;
    margin: 10px;
}

.popular-movies{
    margin:5px;
    text-align: center;
}

.search-title{
    width:100%
}